@model DuncanSafeApp2024.Models.WatchListEntry

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 data-cy="pageTitle">Edit Watch List Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label data-cy="manufacturerLabel" asp-for="Manufacturer" class="control-label"></label>
                <input data-cy="manufacturerInput" asp-for="Manufacturer" class="form-control" />
                <span data-cy="manufacturerValidation" asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label data-cy="modelLabel" asp-for="Model" class="control-label"></label>
                <input data-cy="modelInput" asp-for="Model" class="form-control" />
                <span data-cy="modelValidation" asp-validation-for="Model" class="text-danger"></span>
            </div>
            <br /><span>&nbsp;</span>
            <div class="form-group">
                <input data-cy="submitButton" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}