@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 data-cy="pageTitle">Contact</h1>

<br />
<p>
    <span data-cy="fullName">Michael Duncan</span><br />
    <span data-cy="youtubeLink" id="youtube"><a href="https://www.youtube.com/channel/UC8eQAW3g1Y0mStz-e-WMdKQ">YouTube Channel</a></span><br />
    <span data-cy="githubLink" id="github"><a href="https://github.com/mwduncan2018">GitHub</a></span><br />
</p>


<br />
<div style="color:darkgreen; font-weight: bold;">
    <h4>Skills</h4>
    <ul data-cy="skillList" id="skillList">
        <li>Selenium</li>
        <li>Appium</li>
        <li>Playwright</li>
        <li>pytest-bdd</li>
        <li>SpecFlow</li>
        <li>Java Cucumber</li>
        <li>Docker</li>
        <li>Docker Compose</li>
        <li>C# MVC</li>
        <li>Jenkins</li>
        <li>Amazon Web Services</li>
        <li>C#</li>
        <li>Java</li>
        <li>Python</li>
    </ul>
</div>

<script src="~/js/contact.js" asp-append-version="true"></script>